<section class="bg-primary p-5 p-sm-5 mt-5">
  <div class="container">
      <ul class="nav justify-content-center my-3 flex-column align-content-center">
          <li class="nav-item me-5 mb-3 mt-1">
            <a href="#" class="nav-link px-2 text-white">
              <span class="material-icons-outlined contact-icon me-1">place</span>
              123 Fake St, Melbourne VIC 3000
            </a>
          </li>
          <li class="nav-item me-5 mb-3">
            <a href="#" class="nav-link px-2 text-white">
              <span class="material-icons-outlined contact-icon me-1">email</span>
              contact@email.com
            </a>
          </li>
          <li class="nav-item me-5 mb-1">
            <a href="#" class="nav-link px-2 text-white">
              <span class="material-icons-outlined contact-icon me-1">phone</span>
              0400 123 456
            </a>
          </li>
      </ul>
  </div>
</section>